
img{
    width: 200px;
}


.super-mario{
   position: absolute;
   z-index: 1;
}

.goomba{
  margin-top: 270px;
}

.word{
  position: absolute;
}

.baloon{
  position: absolute;
}

.bowser{
   position: absolute;
}