h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-align: center;
}

ul {
    background-color: green;
    text-align: center;
}

.muda-cor {
    background-color: gray;
}

P {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
    text-align: center;
}

#a {
    background-color: yellow;
}

#b {
    background-color: red;
}

#c {
    background-color: brown;
}